@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}
body {
	font-family: 'myriad-light', 'Roboto', sans-serif, Tahoma;
    font-size: 1.8rem;
    color: #333;
    background-color: #fff;
}
header {
    position: relative;
}
