.slider-container {
    background-size: 100% auto;
    background-attachment: fixed;
    background-image: url('../../assets/images/travel-with-visa-2258x1500.jpg');
    background-color: rgb(82, 130, 44);
    min-height:600px;
}